<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomerInfo.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/magnific-popup.css" />


    <!-- Report Style -->
    <link rel="stylesheet" href="~/assets/stylesheets/report.css" />
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" />
    <link rel="stylesheet" href="~/assets/vendor/pnotify/pnotify.custom.css" />

    <!-- GRID CSS-->
    <link href="~/assets/javascripts/ui-grid/4.4.7/ui-grid.css" rel="stylesheet" />
    <link href="~/assets/ng-source/ng-vendor/ng-select2/select2.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
        <link rel="stylesheet" href="~/assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css" />
        <link rel="stylesheet" href="~/assets/vendor/summernote/summernote.css" />
        <link rel="stylesheet" href="~/assets/vendor/summernote/summernote-bs3.css" />
        <link rel="stylesheet" href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
        <link rel="stylesheet" href="~/assets/vendor/select2/select2.css" />
        <link rel="stylesheet" href="~/assets/vendor/dropzone/css/basic.css" />
        <link rel="stylesheet" href="~/assets/vendor/dropzone/css/dropzone.css" />
        <link rel="stylesheet" href="~/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />


    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">


    <!-- gridJS -->
    <script src="~/assets/vendor/jquery/jquery.js"></script>

    <script src="~/assets/ng-source/angular1.6.js"></script>
    <script src="~/assets/ng-source/ng-vendor/ng-select2/select2.js"></script>

    <script src="~/assets/vendor/javascripts/ui-grid/4.4.7/angular/angular-touch.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/4.4.7/angular/angular-animate.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/grunt-scripts/csv.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/grunt-scripts/pdfmake.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/grunt-scripts/vfs_fonts.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/grunt-scripts/lodash.min.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/grunt-scripts/jszip.min.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/grunt-scripts/excel-builder.dist.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/4.4.7/ui-grid.core.min.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/4.4.7/ui-grid.cellnav.min.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/4.4.7/ui-grid.selection.min.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/4.4.7/ui-grid.auto-resize.min.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/4.4.7/ui-grid.exporter.min.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/4.4.7/autoFitColumns.min.js"></script>
    <script src="~/assets/vendor/javascripts/ui-grid/4.4.7/ui-grid.js"></script>
    <script src="~/assets/vendor/javascripts/ng-common.js"></script>

    <!-- custom app/directive -->
    <script src="~/assets/ng-source/ng-app/masterApp.js"></script>
    <script src="~/assets/ng-source/ng-directive/ng-directive.js"></script>
    <script src="~/assets/vendor/ui-bootstrap/ui-bootstrap-tpls.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CustomerInfo.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - CustomerInfo.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
